<div class="page">
  <div class="header">
    <h5>Log into your account here.</h5>
    <br />
    <!--"here" needs to be changed to a link to Register page -->
    <h5>Need an account? <a routerLink="/register">Sign up here</a></h5>
    <!--"here" needs to be changed to a link to Register page -->
  </div>
  <br /><br /><br /><br /><br />
  <div class="body">
    <div class="inputs">
      <p>
        <label for="username">Username: &nbsp; </label>
        <input id="username" #Username />
      </p>
      <br /><br />
      <p>
        <label for="password">Password: &nbsp; </label>
        <input id="password" #Password />
      </p>
    </div>
    <br /><br />
    <button type="button" class="btn btn-outline-dark">Sign In</button>
    <br /><br />
    <p>Forget your password?</p>
  </div>
</div>
