<div class="page">
  <div class="header">
    <h5>Log into your account here.</h5>
    <br />
    <h5>Need an account? <a routerLink="/register">Sign up here</a></h5>
  </div>
  <br /><br /><br /><br /><br />
  <div class="body">
    <div class="inputs">
      <p>
        <label for="username">Username: &nbsp; </label>
        <input id="username" [(ngModel)]="username" name="username" #usernameInput="ngModel" required>
      </p>
      <br /><br />
      <p>
        <label for="password">Password: &nbsp; </label>
        <input id="password" [(ngModel)]="password" name="password" #passwordInput="ngModel" required>
      </p>
    </div>
    <br /><br />
    <button
    [disabled]="usernameInput.invalid || passwordInput.invalid"
      type="button"
      class="btn btn-outline-dark"
      (click)="login()"
    >
      Sign In
    </button>
    <p id="redirect">{{redirectText}}</p>
    <br /><br />
    <p><a routerLink="/sign-in" (click)="forgor = true; fastRedirect(); cycleWord()">Forgot your password?</a></p>
    <p *ngIf="forgor">{{currentWord}}</p>
    <p></p>
  </div>
</div>
