<div class="page backgroundApplicable">
  <div class="header">
    <h1>Questions?</h1>
    <br />
    <h3>Please Contact Us</h3>
    <br />
  </div>
  <br />
  <div class="body">
    <div class="name-inputs">
      <p>
        <label for="fName">First Name: &nbsp; </label>
        <input id="fName" #FName />
      </p>
      <br />
      <p>
        <label for="lName">&emsp;Last Name: &nbsp; </label>
        <input id="lName" #LName />
      </p>
      <br />
    </div>
    <div class="inputs">
      <p>
        <label for="phoneNumber">Phone Number: &nbsp; </label>
        <input id="phoneNumber" #PhoneNumber />
      </p>
      <br />
      <p>
        <label for="email">Email: &nbsp; </label>
        <input id="email" #Email />
      </p>
      <br />
    </div>
    <div class="questionLabel">
      <label for="question">Questions? &nbsp; </label>
    </div>
    <div class="questionArea">
      <textarea id="question" #Question> </textarea>
    </div>
    <br />
    <div class="inputs">
      <button type="button" class="btn btn-outline-primary">Submit</button>
    </div>
  </div>
</div>
