.header{
    text-align:center;
}

.body{
    text-align:right;
}

.inputs{
    margin-right:43%;
    /* text-align:center; */
}

.name-inputs{
    /* text-align:center; */
    margin-right:43%;
}

.page{
    text-align:center;
    padding-bottom: 200px;
}

textarea{
    height: 150px;
    width: 300px;
}

.questionArea{
    margin-right: 40%
}

.questionLabel{
    text-align : center
}

.submit{
    /* text-align:right; */
    margin-right:47.5%;
}



