.header{
    text-align:center;
}

.body{
    text-align:right;
}

.inputs{
    margin-right:43%;
}

.name-inputs{
    margin-right:43%;
}

.page{
    text-align:center;
    padding-bottom: 200px;
}

textarea{
    height: 150px;
    width: 300px;
}

.questionArea{
    margin-right: 40%
}

.questionLabel{
    text-align : center
}


.submit{
    margin-right:47.5%;
}

.buttonColor{
    background-color: transparent;
    border-color: rgb(142, 115, 80);
    color : white;
}

.buttonColor:hover{
    background-color: rgb(142, 115, 80);
}

.buttonColor:active{
    background-color: black;
    border-color: black
}

