<div class="page">
    <div class="header">
        <h1>Questions?</h1> <br>
        <h3>Please Contact Us</h3> <br>
        <h6>Or Contact Us At</h6>
        <p>123-456-7891<br>Email@TheSpot.com</p>     
    </div>
    <br>
    <div class="body">
        <div class="name-inputs">
            <p>
                <label for="fName">First Name: &nbsp; </label>
                <input id="fName" #FName />
            </p>
            <br>
            <p>
                <label for="lName">&emsp;Last Name: &nbsp; </label>
                <input id="lName" #LName />
            </p>
            <br>
        </div>
        <div class="inputs">
            <p>
                <label for="phoneNumber">Phone Number: &nbsp; </label>
                <input id="phoneNumber" #PhoneNumber />
            </p>
            <br>
            <p>
                <label for="email">Email: &nbsp; </label>
                <input id="email" #Email />
            </p>
            <br>
            <p>
                <label for="question">Question: &nbsp; </label>
                <input id="question" #Question />  
            </p>
            <br>
            <button type="button" class="btn btn-outline-primary"(click)="handleQuestionSubmission()">Submit</button>
            <p>{{successText}}</p>
    </div>
</div>

