<div class="page">
    <div class="header">
        <button type="button" class="btn btn-outline-dark">Sidebar</button>
        <span class="title">The Spot</span>
        <!-- <span class="sign-in">Sign In/Register</span> -->
        <a href="sign-in" class="sign-in">Sign In/Register</a>
    </div>
    <div class="body">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur 
            adipisicing elit. Tenetur ea omnis fugit 
            aliquam eum minus atque, ab unde 
            voluptas aut rerum quod facere assumenda 
            reprehenderit veniam consequuntur 
            consectetur pariatur numquam culpa enim 
            molestias. Aspernatur nulla expedita in 
            unde dignissimos fuga, itaque odit 
            atque vero amet? Id doloremque eos 
            deserunt? Minus?</p>
    </div>
</div>
