<header>
  <img class="bgImageAboutUs" src="assets/pictures/aboutUsPage.jpg" alt="" />
</header>

<div class="page backgroundApplicable">
  <h2>About Us</h2>
  <p>
    Our PC cafe was established in 2022 with the aim 
    of providing high-quality gaming experiences to our 
    customers. Since then, we have grown into a popular 
    destination for students and gamers of all ages and 
    backgrounds. We offer a wide range of PCs and menu 
    items, from black coffeeto Nasi Lemak, and we are 
    committed to providing our customers with the relaxing 
    and comfortable experience.
    <br>
    We believe that our success is due to our focus 
    on customer satisfaction. We strive to create a 
    welcoming and comfortable environment for all our 
    customers, and we are always looking for ways to 
    improve their experience. Our staff are 
    trained to provide excellent customer service 
    and are always on hand to answer any questions 
    or offer assistance.
    <br>
    We are proud to have built a strong and loyal 
    customer base, and we are committed to 
    continuing to provide the best possible 
    experience for our customers. We encourage all 
    staff to share in this commitment and to take 
    pride in the role they play in making our PC 
    cafe a success.
  </p>
</div>
