<header>
  <img class="bgImageAboutUs" src="assets/pictures/aboutUsPage.jpg" alt="" />
</header>

<div class="page backgroundApplicable">
  <h2>About Us</h2>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur ea omnis
    fugit aliquam eum minus atque, ab unde voluptas aut rerum quod facere
    assumenda reprehenderit veniam consequuntur consectetur pariatur numquam
    culpa enim molestias. Aspernatur nulla expedita in unde dignissimos fuga,
    itaque odit atque vero amet? Id doloremque eos deserunt? Minus?
  </p>
</div>
