<header>
  <img class="bgImageMenu" src="assets/pictures/menuHeader.jpg" alt="" />

  <p class="headerContent" style="margin-left: 47%; margin-right: 53%">Menu</p>
</header>

<div class="row backgroundApplicable">
  <div class="col-md-2">
    <br />
    <h5>Showing {{ numberOfItems }} items:</h5>
  </div>
  <div class="col-md-8"></div>
  <div class="col-md-2">
    <button class="btn btn-success" routerLink="/cart">
      <!-- <i
        class="fa-sharp fa-solid fa-cart-shopping fa-3x"
        style="color: #000000"
      ></i> -->
      <img src="assets/pictures/cart.png" style="width: 60px; height: auto" />
    </button>
  </div>
</div>

<div class="row backgroundApplicable">
  <ng-container *ngFor="let item of menu">
    <div class="col-md-3">
      <div class="card-deck menuItemCards">
        <div class="card">
          <img
            class="card-img-top menuImage"
            src="{{ item.photoLink }}"
            alt=""
          />
          <div class="card-body">
            <div class="card-title">
              <h6>{{ item.name }}</h6>
            </div>

            <p class="card-text">
              Price: ${{ item.price }} each <br />
              Quantity: {{ item.quantity }}

              <br />
              {{ item.desc }}
            </p>
            <div *ngIf="item.quantity == 0">
              <button
                class="btn btn-primary buttonColor"
                (click)="addToCart(item.id)"
              >
                Add to cart
              </button>
            </div>
            <div *ngIf="item.quantity > 0">
              <button
                class="btn btn-primary buttonColor"
                (click)="removeItem(item.id)"
              >
                -
              </button>
              {{ item.quantity }}
              <button
                class="btn btn-primary buttonColor"
                (click)="addToCart(item.id)"
              >
                +
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<!-- <div *ngFor="let item of menu">
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <h6>{{ item.name }}</h6>
      </div>
      <div>
        Price: {{ item.price }} <br />
        Quantity: {{ item.quantity }}
      </div>
      <br />
      {{ item.desc }}
      <br />
      <div *ngIf="item.quantity == 0">
        <button class="btn btn-primary" (click)="addToCart(item.id)">
          Add to cart
        </button>
      </div>
      <div *ngIf="item.quantity > 0">
        <button class="btn btn-primary" (click)="removeItem(item.id)">-</button>
        {{ item.quantity }}
        <button class="btn btn-primary" (click)="addToCart(item.id)">+</button>
      </div>
    </div>
  </div>
</div> -->
