/* .card{
    width : 500px;
} */

.headerContent{
    text-align : center;
    margin-top : 3.5rem;
    margin-bottom : 6rem;
    font-size : xx-large;

}

.btn-success{
    border-color : transparent;
    background-color: transparent;
}

.btn-success:active{
    border-color : transparent;
    background-color: transparent;
}

.bgImageMenu{
    opacity: 0.5;
    position : absolute;
    left : 0;
    top : 0;
    width : 100%;
    height: 300px;
}

header{
    margin-bottom: 10rem;
}