<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>In cart:</h1>
            <div *ngIf="!quantity">
                Cart is currently empty. Please add items.
            </div>
            <div *ngFor="let item of cartItems">
                <div *ngIf="item.quantity">
                    <p>{{ item.name }}
                        <br>
                    </p>

                    <button class="btn btn-primary" (click)="decrement(item.id)">-</button>
                    Quantity: {{ item.quantity }} | Price per item: ${{ item.price }}
                    <button class="btn btn-primary" (click)="increment(item.id)">+</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            Total cost: ${{getTotalCost()}}
            <button class="btn btn-primary" (click)="handleCheckOut()">Check out</button>
            <p>{{successText}}</p>
        </div>
    </div>
</div>

