<div class="backgroundApplicable">
  <h1 class="center">Location</h1>

  <div class="card" *ngFor="let location of locationList">
    <img src="{{ location.imageLink }}" class="card-img-top" alt="" />
    <div class="card-body">
      <h5 class="card-title">{{ location.name }}</h5>
      <p class="card-text">{{ location.description }}</p>
      <p class="card-text">Open Computers: {{ location.openComputers }}</p>
      <button
        class="btn btn-primary buttonColor"
        routerLink="/location-detail"
        (click)="showLocationDetails(location.name)"
      >
        Go to this location
      </button>
    </div>
  </div>
  <br />
</div>
