<div class="sidebar" [class.sidebar--open]="sidebarToggle">
  <div>
    <button class="btn btn-primary sidebar-button" (click)="closeSidebar()">
      <i class="fa-solid fa-x fa-1xl" style="color: #000000"></i> Close Sidebar
    </button>
    <br />
    <button
      class="btn btn-primary sidebar-button"
      (click)="closeSidebar()"
      routerLink=""
    >
      Home
    </button>
    <br />
    <button
      class="btn btn-primary sidebar-button"
      (click)="closeSidebar()"
      routerLink="/menu"
    >
      Menu
    </button>
    <br />
    <button
      class="btn btn-primary sidebar-button"
      (click)="closeSidebar()"
      routerLink="/locations"
    >
      Locations
    </button>
    <br />
    <button
      class="btn btn-primary sidebar-button"
      (click)="closeSidebar()"
      routerLink="/calendar"
    >
      Calendar
    </button>
    <br />
    <button
      class="btn btn-primary sidebar-button"
      (click)="closeSidebar()"
      routerLink="/about"
    >
      About Us
    </button>
    <br />
    <button
      class="btn btn-primary sidebar-button"
      (click)="closeSidebar()"
      routerLink="/contact-us"
    >
      Contact Us
    </button>
  </div>
</div>
