<div class="sidebar" [class.sidebar--open]="sidebarToggle">
  <div>
    <button class="btn btn-primary sidebar-button" (click)="closeSidebar()">
      <img class="navBar" src="assets/pictures/closeNavbar.png" alt="" /> Close
      Sidebar
    </button>
    <br />
    <button class="btn btn-primary sidebar-button" routerLink="">Home</button>
    <br />
    <button class="btn btn-primary sidebar-button" routerLink="/menu">
      Menu
    </button>
    <br />
    <button class="btn btn-primary sidebar-button" routerLink="/locations">
      Locations
    </button>
    <br />
    <button class="btn btn-primary sidebar-button" routerLink="/calendar">
      Calendar
    </button>
    <br />
    <button class="btn btn-primary sidebar-button" routerLink="/about-us">
      About Us
    </button>
    <br />
    <button class="btn btn-primary sidebar-button" routerLink="/contact-us">
      Contact Us
    </button>
  </div>
</div>
