<div class="sidebar" [class.sidebar--open]="sidebarToggle">
  <div class="content">
    <button class="btn btn-success" (click)="closeSidebar()">
      <img class="navBar" src="assets/pictures/closeNavbar.png" alt="" /> Close
      Sidebar
    </button>
    <br />
    <a href="">Home</a>
    <br />
    <br />
    <a href="">Menu</a>
    <br />
    <br />
    <a href="">Locations</a>
    <br />
    <br />
    <a href="">Calendar</a>
    <br />
    <br />
    <a href="">About Us</a>
    <br />
    <br />
    <a href="">Contact Us</a>
  </div>
</div>
