/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";

.bgImage{
    opacity: 0.5;
    position : absolute;
    left : 0;
    top : 0;
    width : 100%;
    height: 500px;
    
}

.headerContent{
    position : relative;
    font-weight : bold;
    z-index : 1;
    /* position : fixed;  
    width : 100%;  */
}

.backgroundApplicable{
    background-color: rgb(226, 211, 191);
}
