<div class="body backgroundApplicable">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <br />
        <h6>Welcome to The Spot</h6>
      </div>
    </div>
    <div class="row contentRow">
      <div class="col-md-6 contentColumn">
        <p>Take a look at our delicious menu options at our menu page.</p>
        <button class="btn btn-primary buttonColor" routerLink="/menu">
          Go to menu
        </button>
      </div>
      <div class="col-md-6 imageColumn">
        <img src="assets/pictures/menuPhoto.jpg" class="image" />
      </div>
    </div>
    <div class="row contentRow">
      <div class="col-md-6 imageColumn">
        <img src="assets/pictures/calendarPic.png" class="image" />
      </div>
      <div class="col-md-6 contentColumn">
        <p>
          Check out the calendar to see any of the planned events for this
          month.
        </p>
        <button class="btn btn-primary buttonColor" routerLink="/calendar">
          Go to calendar
        </button>
      </div>
    </div>
    <div class="row contentRow">
      <div class="col-md-6 contentColumn">
        <p>Check out the locations that currently have our shops.</p>
        <button class="btn btn-primary buttonColor" routerLink="/locations">
          Go to locations
        </button>
      </div>
      <div class="col-md-6 imageColumn">
        <img src="assets/pictures/locationPic.jpg" class="image" />
      </div>
    </div>
    <div class="row contentRow">
      <div class="col-md-6 imageColumn">
        <img src="assets/pictures/aboutUsPic.jpg" class="image" />
      </div>
      <div class="col-md-6 contentColumn">
        <p>
          Learn a little bit about what we are, and how we became the branch
          that you know and love.
        </p>
        <button class="btn btn-primary buttonColor" routerLink="/about">
          Go to about us
        </button>
      </div>
    </div>
  </div>
  <br />
</div>
