.body{
    margin-top: 446px;
}

.row{
    margin-top : 20px;
}

.contentRow{
    margin-top : 60px;
    border : solid;
}

.imageColumn{
    margin : 0;
    padding : 0;
}

.contentColumn{
    margin-top : 8rem;
}

.image{
    width: 100%; 
    height: 20rem;
}

.buttonColor{
    background-color: rgb(142, 115, 80);
    border-color: rgb(142, 115, 80);
}

.buttonColor:active{
    background-color: black;
    border-color: black
}