<div class="page">
    <div class="header">
        <h1>The Spot</h1> <br>
        <h5>Create an account with us here.</h5> <br>
    </div>
    <br><br>
    <div class="body">
        <div class="name-inputs">
            <p>
                <label for="fName">First Name: &nbsp; </label>
                <input id="fName" #FName />
                <label for="lName">&emsp;Last Name: &nbsp; </label>
                <input id="lName" #LName />
            </p>
            <br>
        </div>
        <div class="inputs">
            <p>
                <label for="email">Email: &nbsp; </label>
                <input id="email" #Email />
            </p>
            <br>
            <p>
                <label for="phoneNumber">Phone Number: &nbsp; </label>
                <input id="phoneNumber" #PhoneNumber />
            </p>
            <br>
            <p>
                <label for="dateOfBirth">Date Of Birth: &nbsp; </label>
                <input id="dateOfBirth" #DateOfBirth />
            </p>
            <br>
            <p>
                <label for="address">Address: &nbsp; </label>
                <input id="address" #Address />
            </p>
            <br>
            <p>
                <label for="Password">Password: &nbsp; </label>
                <input id="Password" #Password />
            </p>
            <br>
            <p>
                <label for="confirmPassword">Confirm Password: &nbsp; </label>
                <input id="confirmPassword" #ConfirmPassword />
            </p>
        </div>
        <br><br>
    </div>
    <button type="button" class="btn btn-outline-primary" (click)="handleClick()">Create Account</button>
    <p>{{redirectText}}</p>
</div>

